body{
    position: relative;
    width: 1440px;
    height: 4885px;
    background: white
}

header{
    width: 1440px;
    height: 756px;
    left: 0px;
    top: 74px;
}

nav{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: white;
    top: 0;
}

h1{
    position: absolute;
    width: 124px;
    height: 60px;

    font-family: Dancing Script;
    font-style: normal;
     font-weight: normal;
    font-size: 25px;
    line-height: 30px;

    color: #F66250;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

nav ul{
    position: absolute;
    top: 0px;
    float: right;
    right: 5%;
}

nav ul li{
    display: block;
    float: left;
    margin: 0px 20px 0px 20px; 
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'roboto' ,roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

}
nav ul button{
    background-color: #f66250;
    font-family: 'roboto', roboto;
    font-size: 15px;
    color: white;
}

.welcome{
    position: absolute;
    width: 262px;
    height: 20px;
    left: 100px;
    top: 273px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17.3818px;
    line-height: 20px;

    color: #FFFFFF;
}

.welcome2 h1{
    position: absolute;
    width: 478px;
    height: 136.16px;
    left: 100px;
    top: 301.97px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 57.9394px;
    line-height: 68px;

    color: #FFFFFF;

    text-shadow: 1.44848px 1.44848px 1.44848px rgba(0, 0, 0, 0.5);
}

w.elcome h6{
    position: absolute;
    width: 393.99px;
    height: 40.56px;
    left: 100px;
    top: 451px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17.3818px;
    line-height: 20px;

    color: #FFFFFF;
}

div button{
    background-color: #f66250;
    font-family: 'roboto', roboto;
    font-size: 15px;
    color: white; 
    
}
.About h4{
    position: absolute;
    width: 87px;
    height: 39px;
    left: 665px;
    top: 877px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    line-height: 39px;
    
    text-align: center;

    color: #000000;
}

.About p{
    position: absolute;
width: 709px;
height: 147px;
left: 354px;
top: 937px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 23px;
/* or 153% */

text-align: center;

color: #ACACAC;

}
.Community h3{
    position: absolute;
    width: 231px;
    height: 39px;
    left: 787px;
    top: 1258px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    line-height: 39px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.Community p{
    position: absolute;
    width: 396px;
    height: 92px;
    left: 787px;
    top: 1285px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    /* or 153% */


    color: #ACACAC;
}